
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-hover table-sm">
        <thead class="text-center">
          <tr>
            <th> Student </th>
            <th class="text-center"> Zone </th>
            <th class="text-center"> Test Score </th>
            <th class="text-center"> 1st Choice </th>
            <th class="text-center"> 2nd Choice </th>
            <th class="text-center"> 3rd Choice </th>
            <th class="text-center"> 4th Choice </th>
            <th class="text-center"> 5th Choice </th>
            <th class="text-center"> </th>
            <th class="text-center"> IMM Assigned </th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td> <%= student.name %> </td>
              <td class="text-center"> <%= student.zone %> </td>
              <td class="text-center"> <%= student.test_score %> </td>
              <% student.school_prefs.each do |school_pref| %>
                <td class="text-center"> <%= school_pref.school.name %> </td>
              <% end %>
              <td> </td>
              <td class="text-center"> <%= student.assigned_school %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-hover table-sm">
        <thead class="text-center">
          <tr>
            <th> School </th>
            <th class="text-center"> Zone </th>
            <th class="text-center"> Spots </th>
            <th class="text-center"> Student Preference List </th>
          </tr>
        </thead>
        <br>
        <tbody>
          <% @schools.each do |school| %>
            <tr>
              <td> <%= school.name %> </td>
              <td class="text-center"> <%= school.zone %> </td>
              <td class="text-center"> <%= school.capacity %> </td>
              <td> <%= school.student_prefs.map{|student_pref| student_pref.student.name}.join(", ") %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
